body {
    font-family: 'Merriweather', serif;
}

a {
    transition: all 300ms ease-in-out;
}

.logo {
    max-width: 200px;
}

.header-container {
    text-align: center;
}

a.nav-link {
    font-size: 18px;
}

h1.title {
    font-size: 100px;
    color: #0e2071e6;
}

h2.subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 2px;
}

a.button,
a.info-link {
    text-decoration: none;
    color: rgb(21, 66, 150);
}

.carousel-item {
    justify-content: center;
}

.carousel-item img {
    border-radius: 8px;
}

p.history-desc,
li.facts,
p.desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 2px;
}

h1.facts-title,
h1.contact-title {
    font-size: 100px;
    color: #0e2071e6;
    text-align: center;
}

h2.facts-subtitle {
    font-size: 50px;
    color: #0e2071e6;
    text-align: center;
}

ul {
    list-style: none;
}

li.facts:not(:last-child) {
    margin-bottom: 20px;
}

img.images {
    display: block;
    margin: 20px auto;
    max-width: 400px;
}

div.contact-items {
    text-align: center;
}

h2.contact-subtitle {
    font-size: 36px;
    color: #000;
    text-align: center;
}

h2.main-subtitle {
    font-size: 42px;
    color: #000;
    text-align: center;
    line-height: 2;
}

div.main-content {
    padding: 10px 20px;
    border-radius: 8px;
    border: 5px solid #FFD700;
}

p.main-desc {
    font-size: 36px;
    line-height: 2;
    letter-spacing: 2px;
}

ul.contact-item {
    margin: 120px auto 0;
}

li.list-item {
    margin: 0 auto 120px;
}

img.list-link {
    margin: 50px auto;
}

.mapouter {
    justify-content: center;
}

.footer {
    font-size: 12px;
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 28px;
    border: none;
    outline: none;
    background-color: rgb(179, 207, 255);
    color: white;
    cursor: pointer;
    padding: 7px 15px 1px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: rgb(122, 171, 255);
}